.navbar{
    display: flex;
    padding: 5px;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    color: white;
}

img{
    border-radius: 20px;
}


.container{
    width: 100%;
   /* background-color: #C0C0C0;*/
    padding: 5px 0;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    color: white;
}

nav ul{
    display: flex;
    gap: 15px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;
    list-style-type: none;
    font-size: 20px;
    
}



.btn{
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: #C0C0C0;
    font-weight: 900;
}

.dark-nav{
    background-color: darkcyan;
    transition: 0.5s;
}

